---
layout: default
---

<div class="home">

    <div id="home-articles-list">
        {% for post in paginator.posts %}
        <article class="blog-post">
            <header class="post-header">
                <hr>
                <h1>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" name="{{ post.title }}">
                        {{ post.title }}
                    </a>
                </h1>

                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>

                {% if post.featured_image %}
                <a class="featured-image-link" href="{{ post.url | prepend: site.baseurl }}" name="{{ post.title }}">
                    <img class="featured-image" src="{{ post.featured_image }}" alt="{{ post.title }}">
                </a>
                {% endif %}

                <hr>
            </header>

            <div class="row">
                {{ post.content | split: '<!-- more -->' | first }}
                <a class="btn btn-primary post-link"
                   href="{{ post.url | prepend: site.baseurl }}"
                   name="{{ post.title }}">Read More <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>

            {% if post.tags %}
            <div class="col-md-6 col-xs-12 text-left xs-text-center">
                {% for tag in post.tags %}
                <a class="label label-primary" href="#">{{- tag -}}</a>
                {% endfor %}
            </div>
            {% endif %}

        </article>
        {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <!-- Pagination links -->
    <nav>
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;<span class="sr-only"> (disabled)</span></span>
                </a>
            </li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only"> (current)</span></a></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            </li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true"><span class="sr-only">(disabled) </span>&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}

</div>
