<div class="footer-margin-fix">
    <footer class="site-footer clearfix">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="alt">
                    <a href="/">
                        <img src="{{ '/images/GabLeRoux-logo-small-white.png' | prepend: site.baseurl }}" alt="GabLeRoux logo">
                    </a>
                </li>
                {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}" rel="publisher" title="See {{ site.author.name }}'s code on GitHub"><i class="fa fa-github-square"></i></a>
                </li>
                {% endif %}
                {% if site.twitter_username %}
                <li>
                    <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank" title="Stalk {{ site.author.name }} on Facebook"><i class="fa fa-facebook-square fa-fw"></i></a>
                </li>
                {% endif %}
                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Follow @{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-fw"></i></a>
                </li>
                {% endif %}
                {% if site.google_plus_username %}
                <li>
                    <a href="https://plus.google.com/+{{ site.google_plus_username }}" rel="publisher" title="Find {{ site.author.name }} on Google+"><i class="fa fa-google-plus-square fa-fw"></i></a>
                </li>
                {% endif %}
                {% if site.author.email %}
                <li>
                    <a href="mailto:{{ site.author.email }}" rel="publisher" title="Send an email to {{ site.author.name }}"><i class="fa fa-envelope fa-fw"></i></a>
                </li>
                {% endif %}

                <li class="rss">
                    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="Follow rss feed"><i class="fa fa-rss fa-fw"></i></a>
                </li>

                <li class="feedly">
                    <a href='https://cloud.feedly.com/#subscription%2Ffeed%2Fhttps%3A%2F%2Fgableroux.com%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='Read {{ site.author.name }} on feedly' width='71' height='28'></a>
                </li>

            </ul>
        </div>
    </footer>
</div>

<script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}" type="application/javascript"></script>
<script src="{{ '/bower_components/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl }}" type="application/javascript"></script>
<script src="{{ '/bower_components/bootstrap-autohidingnavbar/dist/jquery.bootstrap-autohidingnavbar.min.js' | prepend: site.baseurl }}" type="application/javascript"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}" type="application/javascript"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19518991-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
