{% if site.facebook_app_id %}
<meta content="{{ site.facebook_app_id }}" property="fb:app_id">
{% endif %}
<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}

{% if page.excerpt %}
<meta content="{{ page.excerpt | strip_html }}" property="og:description">
{% elsif page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}

{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

{% if page.featured_image %}
<meta content="{{ site.url }}{{ page.featured_image }}" property="og:image">
{% else if site.facebook_default_image %}
<meta content="{{ site.url }}/{{ site.facebook_default_image }}" property="og:image">
{% endif %}

{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">
{% endfor %}
{% endif %}

{% if page.tags %}
{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">
{% endfor %}
{% endif %}

{% if site.facebook_app_id %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ site.facebook_app_id }}',
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}