<nav class="navbar navbar-default navbar-fixed-top autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i> <img src="{{ '/images/GabLeRoux-logo-small-white.png' | prepend: site.baseurl }}" alt="GabLeRoux logo"/></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include pages_list.html %}
                <li>
                    <a href="https://totemastudio.com" target="_blank" title="Totema Studio"><i class="fa fa-gamepad"></i> Totema Studio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a class="github-fork-ribbon" href="https://github.com/gableroux/gableroux.github.io" title="Fork me on GitHub">Fork me on GitHub</a>

<div id="outdated"></div>