@import "pygments-monokai.css";

code,
pre {
    font-family: 'Inconsolata-g', monospace;
    font-size: 16px;
    //border: 1px #000000 solid;
    background-color: #0f0f0f;
    color: #fff;
}

code {
  padding: 1px ;
}

.highlight {
    margin-top: -15px;
}