<a href="https://github.com/gableroux/gableroux.github.io" class="github-corner" aria-label="View source on Github">
  <svg data-proofer-ignore="" width="80" height="80" viewBox="0 0 250 250" style="mix-blend-mode: lighten; z-index: 99999; fill:#fff; color:#000; position: absolute; right: 0; border: 0; top: 0; transform:scale(1, 1)" aria-hidden="true">
    <path d="M0 0l115 115h15l12 27 108 108v-250z"></path>
    <path d="M128.3 109c-14.5-9.3-9.3-19.4-9.3-19.4 3-6.9 1.5-11 1.5-11-1.3-6.6 2.9-2.3 2.9-2.3 3.9 4.6 2.1 11 2.1 11-2.6 10.3 5.1 14.6 8.9 15.9" fill="#000" style="transform-origin:130px 106px" class="octo-arm"></path>
    <path d="M115 115c-.1.1 3.7 1.5 4.8.4l13.9-13.8c3.2-2.4 6.2-3.2 8.5-3-8.4-10.6-14.7-24.2 1.6-40.6 4.7-4.6 10.2-6.8 15.9-7 .6-1.6 3.5-7.4 11.7-10.9 0 0 4.7 2.4 7.4 16.1 4.3 2.4 8.4 5.6 12.1 9.2 3.6 3.6 6.8 7.8 9.2 12.2 13.7 2.6 16.2 7.3 16.2 7.3-3.6 8.2-9.4 11.1-10.9 11.7-.3 5.8-2.4 11.2-7.1 15.9-16.4 16.4-30 10-40.6 1.6.2 2.8-1 6.8-5 10.8l-11.7 11.6c-1.2 1.2.6 5.4.8 5.3z" fill="#000" class="octo-body"></path>
  </svg>
</a>
{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top bg-dark-gray" style="background-image: url('{{ $featured_image }}');">
    <div class="pa2 pa6-l bg-black-60">
      {{ partial "site-navigation.html" .}}
      <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
        <div class="tc">
          <img src="https://secure.gravatar.com/avatar/6d49e7c487938aac490de390f46a2d98?size=800" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
          <h1 class="f3 mb2">Gabriel Le Breton</h1>
          <h2 class="f5 fw4 gray mt0">nice to meet you. 👋</h2>
        </div>
      </article>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
