{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article>
  <div class="db pv0 ph2 ph0-l no-underline dark-gray">
    <div class="flex flex-to flex-row-ns pb3">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pa3 w-100">
          <a href="{{.Permalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
    </div>
    <div class="flex flex-to flex-row-ns pb3">
      <div class="blah w-100 pa3{{ if $featured_image }} w-100-ns{{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.Permalink}}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>
