/.sass-cache/
/.jekyll-metadata
/bower_components
/vendor
/Gemfile.lock
/node_modules
/npm-debug.log
/.publish
/_site

# idea IDE
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/inspectionProfiles/
