@import "animate";

/*********************************************************************
 LAYOUT
**********************************************************************/
body {
  padding: 0;
  margin: 0;
  background-color: #26272b;
  color: #fff;
  font-size: 1.8em;

}

header {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background: #000 url("../images/background.jpg") no-repeat top;
  background-size: cover;

  img {
    max-width: 90%;
  }

  .lead {
    line-height: 1em;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.8);
  }
}

footer {
  text-align: center;
  background: #1f1f1c;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  ul li {
    float: left;
    list-style: none;
  }
}

/*********************************************************************
 TYPOGRAPHY
**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #aaabab;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  color: #82c1ff;
}

a:hover {
  color: #e93675;
}

.lead {
  font-weight: 300;
  font-size: 1.3125rem;
}

/*********************************************************************
 Blog Page
**********************************************************************/
.blog-post {

  padding-top: 20px;
  padding-bottom: 20px;

  text-align: justify;

  h1 {
    text-align: center;
  }

  h2.meta.date {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 10px;
  }
}

/*********************************************************************
 BOOTSTRAP HEADER MENU
**********************************************************************/

.navbar {
  background: #33363b;
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}

.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;

  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.navbar-collapse .navbar-nav > li {
}

.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}

.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}

.navbar-default {
  background-color: #33363b;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}

.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #454545;
}

.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
  color: #000000;
}

.navbar-default .navbar-toggle {
  border-color: #000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1b1c20;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #aaa;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}

/*********************************************************************
 Video embedding fix
 See http://embed.ly/docs/tutorials/responsive
 and my Q&A http://stackoverflow.com/questions/24935672/wagtail-hallojs-editor-video-embed-with-padding-bottom
**********************************************************************/

.responsive-object {
  position: relative;
  padding-bottom: 62.5% !important;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************************************************************
 RESPONSIVE STUFF
**********************************************************************/

@media (max-width: 768px) {
  header {
    padding-top: 50px;
    padding-bottom: 50px;
    .lead {
      font-size: 2em;
    }
  }
}

/* Smaller screens */

@media (max-width: 992px) {

}

/* Bigger screens */

@media (min-width: 993px) {

}
