---
layout: default
---
<article class="blog-page">

    <header class="page-header">
        <div class="row">
            <h1 class="page-title">{{ page.title }}</h1>

            <p class="page-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
            </p>

            <img src="{{ page.featured_image }}" alt="{{ page.title }}">

        </div>
    </header>

    <hr>

    <article class="page-content">
        {{ content }}
    </article>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>
    {% endif %}

</article>
